{% capture collection_handle %}{{ product-loop | handleize }}{% endcapture %}
{% capture url %}{% if collection_handle != "" %}/collections/{{ product-loop }}{{ product.url }}{% else %}{{ product.url }}{% endif %}{% endcapture %}
<!-- Aqui se mueve los productos en el span!!!-->
<div class="product span3 {% if template == 'collection' %}adaptive-grid{% endif %}">

  {% if product.price_min < product.compare_at_price_min %}
    {% if settings.show_sale_circle %}
    <span class="circle sale">Sale</span>
    {% endif %}
  {% endif %}

    <div class="view view-first">
      <a href="{{ url }}" class="clearfix">
        <img class="img-responsive" src="{{ product.featured_image | product_img_url: 'large' }}" alt="{{ product.title | escape  }}" />
      
      <div class="mask">
        <h6>{{ product.title }}</h6>
        <p>
          {% if settings.product_vendor %}
            <span class="vendor">{{ product.vendor }}</span>
          {% endif %}
          <span class="price">
            {% if product.available %}
              {% if product.compare_at_price_max > product.price %}
                <del>{{ product.compare_at_price | money }}</del>
              {% endif %}
              {% if product.price_varies %}
              <small><em>from</em></small>
              {% endif %}
              {{ product.price | money }}
            {% else %}
              {{ product.price | money }} Sold Out
            {% endif %}
          </span>
        </p>
      </div>
      </a>
    </div>
</div>

{% unless template contains 'collection' %}
{% cycle 'clear-product-loop': '', '', '', '<div style="clear:both;"></div>' %}
{% endunless %}