<!-- Begin slider 
<div class="span12">
  <div class="flexslider-container">
    <div class="flexslider">
      <ul class="slides">
        {% for i in (1..10) %}
          {% capture show_slide %}display_slide_{{ i }}{% endcapture %}
          {% capture image %}slideshow_{{ i }}.jpg{% endcapture %}
          {% capture link %}slide_{{ i }}_link{% endcapture %}
          {% capture alt %}slide_{{ i }}_alt{% endcapture %}
          {% if settings[show_slide] %}
          <li>
            <a href="{{ settings[link] }}">
              <img src="{{ image | asset_url }}" alt="{{ settings[alt] | escape }}" />
            </a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
      <div class="flex-controls"></div>
    </div>
  </div>
</div>-->
<!-- End slider -->

<!-- Prueba -->
<div style="margin-top:-25px; padding-top:-25px;">
  <a href="/collections/all"><img class="row" id="nav" src="{{ 'fondo.png' | asset_url }}" alt=""></a>
</div>
<!-- End Prueba -->

{% if settings.show_fp_images %}
<!-- Begin promo images -->
<div class="row" id="fp-images" style="margin-bottom:25px;">
  {% for i in (1..3) %}
  {% capture fp_image %}fp_image_{{ i }}.jpg{% endcapture %}
  {% capture fp_link %}fp_image_{{ i }}_link{% endcapture %}
  {% capture fp_alt %}fp_image_{{ i }}_alt{% endcapture %}
  <div class="span4">
    <a href="{{ settings[fp_link] }}">
      <img src="{{ fp_image | asset_url }}" alt="{{ settings[fp_alt] | escape }}" />
    </a>
  </div>
  {% endfor %}
</div>
<!-- End promo images -->
{% endif %}

{% if settings.homepage != blank %}
<!-- Begin intro -->
<div class="span12 p20">
  <div class="intro clearfix">
    <h2>{{ pages[settings.homepage].title }}</h2>
    <div>{{ pages[settings.homepage].content }}</div>
  </div>
</div>
<!-- End intro -->
{% endif %}

<!-- Prueba -->
<!--  -->
<section id="nav" class="row">
<div>
  <ul class="horizontal-inline clearfix">
    <!--  <li>{{ '0.png' | asset_url | img_tag }}</li>-->
    <li><a href="/collections/collection">{{ '1.png' | asset_url | img_tag }}</a></li>
    <li><a href="/collections/best-seller">{{ '2.png' | asset_url | img_tag }}</a></li>
    <li><a href="/collections/jewelry">{{ '3.png' | asset_url | img_tag }}</a></li>
    <li><a href="/pages/store">{{ '4.png' | asset_url | img_tag }}</a></li>
    <!--<li>{{ '5.png' | asset_url | img_tag }}</li>-->
  </ul>
</div>
</section>
<!-- Inicia carousel slick 
    <div class="dellatorre1 span12 row">
        <div>{{ '1.png' | asset_url | img_tag }}</div>
        <div>{{ '2.png' | asset_url | img_tag }}</div>
        <div>{{ '3.png' | asset_url | img_tag }}</div>
        <div>{{ '4.png' | asset_url | img_tag }}</div>
    </div>
    <script type="text/javascript">
    $(document).ready(function(){

        $('.dellatorre1').slick({
            infinite: true,
            speed: 300,
            slidesToShow: 4,
            slidesToScroll: 1,           
              responsive: [
        {
          breakpoint: 720,
          settings: {
            infinite: true,
            speed: 300,
            slidesToShow: 3,
            slidesToScroll: 1,            
          }
        },
        {
          breakpoint: 600,
          settings: {
            infinite: true,
            speed: 300,
            slidesToShow: 2,
            slidesToScroll: 1,
          }
        },
        {
          breakpoint: 480,
          settings: {
            infinite: true,
            speed: 300,
            slidesToShow: 2,
            slidesToScroll: 1,
          }
        }
      ]
            });
        });
    </script>-->
<!-- Termina carousel slick -->
      
<div class="products">
  {% for product in collections[settings.frontpage_collection].products %}
  {% include 'product-loop' with settings.frontpage_collection %}
  {% endfor %}
</div>

{% if settings.show_collections and settings.frontpage_collections != '' and settings.frontpage_collections != 'main-menu' and linklists[settings.frontpage_collections].links.size > 0 %}
<div class="products">
  {% for link in linklists[settings.frontpage_collections].links %}
  {% if link.type == 'collection_link' %}
    {% assign collection = link.object %}
    {% include 'collection-loop' %}
  {% endif %}
  {% endfor %}
</div>
{% endif %}