<div id="page" class="row">
  
  <style>
  input{min-width: 100%;}
    /* centered columns styles */
    .row-centered {
        text-align:center;
    }
    .col-centered {
        display:inline-block;
        float:none;
        /* reset the text-align */
        text-align:left;
        /* inline-block space fix */
        margin-right:-4px;
    }
    .formItems input{
      
      border-radius:25px;
      width:90%;
    } 
    .formItems textarea{
      width: 90%;
      border-radius:15px;
    }
    .formItems {
      margin-left:5%;
    }
    @media (max-width: 900px) { 
      #hide { 
        display:none;
      } 
    }
    
    /*@media (max-width: 1095px) { 
      #hide { 
        
        display:inline-block;
        float:none; 					*/
        /* reset the text-align */
      /*  text-align:left; */
        /* inline-block space fix */
        /*margin-right:-4px;
        
      } 
    }*/
  
  </style>
  
  <div class="row row-centered" 
       style="color:#fff;
              background-image:url(https://cdn.shopify.com/s/files/1/0605/4057/t/2/assets/bgfullContact.jpg);
              background-size:cover;">
  
    <div class="col-md-12 col-centered" style="
              background-image:url(https://cdn.shopify.com/s/files/1/0605/4057/t/2/assets/bgContact.jpg?4007); width:70%; background-size: 100% 100%; background-color:#14a5c3; background-repeat: repeat-x;
;">
    <br>
    <h1 style="color:#fff; padding-left:15px; padding-top:20px;">{{ page.title }}</h1>
    <br>
    <br>
    <br>
    <h4 style="color:#fff; font-size:20px" class="row-centered" >{{ page.content }}</h4>
    <div class="col-md-12 col-centered" id="responsiveleft" 
         style="margin-top: 5%; width:auto; background-color:#;">
      
            
        {% form 'contact' %}
        {% if form.posted_successfully? %}
        <div class="successForm feedback">
          <p>Thanks for contacting us! We'll get back to you as soon as possible.</p>
        </div>
        {% endif %}

        {% if form.errors %}
        <div class="errorForm feedback">
          <p>Oops, sorry. We were unable to submit your inquiry because it contained {{ form.errors | size | pluralize: 'an error', 'a few errors' }}. Please correct the following and submit again:</p>
          {% for field in form.errors %}
            <p>The {{ field | capitalize | replace: 'Body', 'Message' }} field {{ form.errors.messages[field] }}.</p>
          {% endfor %}
        </div>
        {% endif %}

        <div id="contactFormWrapper" class="formItems" style="width:100%;">
          <p>
            <label>Name:</label><br/>
            <input type="text" id="contactFormName" name="contact[name]"/>
          </p>
          <p>
            <label>Email:</label><br/>
            <input type="email" id="contactFormEmail" name="contact[email]" />
          </p>
          <p>
            <label>Phone:</label><br/>
            <input type="telephone" id="contactFormTelephone" name="contact[phone]" />
          </p> 
          
          <p>
            <label>Birthday:</label><br/>
            <input id="birthdayFormbirthday" name="birthdayFormbirthday"/>
          </p>
          <p>
            <label>City:</label><br/>
            <input id="cityFormCity" name="cityFormCity"/>
          </p>
          <p>
            <label>Message:</label><br/>
            <textarea rows="15" cols="48" id="contactFormMessage" name="contact[body]" ></textarea>
          </p>
          <p>
            <input type="submit" id="contactFormSubmit" 
                   style="box-shadow: 3px 3px 3px #000;
                          border-radius:5px;
                          width:40%; margin-left:25%;"
                   value="Send" class="btn" />
          </p>
        </div>
        {% endform %}
      
    </div> 
  </div>
    
    
</div>

</div>
